*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.home{
    background-image: url('../Images/home.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    background-position:center;
    min-height: 95vh;
    min-width:100%;
    margin:0 ;
    display:flex;

    justify-content:center;
    align-items:center;
}
.home-text{
    font-size:3rem;
}
.top-cars-section {
    width: 100%;
    background-color: black;
    color: white;
}
.top-cars img{
    max-height:150px;
    margin-bottom: 25px;
}
.top-cars .trainer-item {
    border-radius: 3%;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: black;
    color: whitesmoke;
    border:2px solid gray!important;
    z-index:0;
}
.top-cars .btn {
    background-color: darkred;
    color: white;
    min-width: 100px;
    border-color: black;
}
.about {
    background-image: url('../Images/about.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    min-height:600px;
    color:white;
    display:flex;
    justify-content:center;
    align-content:center;
}
.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    padding-bottom:40px;
}    
.about .container p{
    background-color:black;
    font-size:20px;
    letter-spacing:3px;
    padding: 10px 20px;
}
.top-row {
    z-index: 999;
}