body {
}
.rentcars {
    background-image: url('../Images/rent-cars.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
}
*:focus{
    outline:none!important;
}
*:active {
    border: none !important;
    outline: none !important;
    border:none;
}
.search{
    background-color:darkred;
    color:white;
    padding: 6px 10px;
    border:none;
    border-radius:20px;
}
.search::placeholder{
    color:white;
}
.search:active{
    border:none;
}
.sorting-container button{
    background-color:red;
    color:black;
    padding:3px 7px;
    border-radius: 20px;
}
button:focus {
    outline: none;
}
.add-filtering button {
    background-color: red;
    color: black;
    padding: 3px 7px;
    border-radius:3px;
}