@page "/"

<div class="container home text-center">
    <h1 class="text-white home-text">Do you want to drive the car of your DREAMS?<br />You just came to the right place!</h1>
</div>
<section class="top-cars-section pt-5 text-center">
    <div class="container top-cars">
        <div class="row">
            <div class="col-md-4">
                <img src="../CarImages/mercedes-benz-e-class 20213248573.jpeg" class="img-fluid" />
                <h3>Mercedes</h3>
                <p>E350</p>
            </div>
            <div class="col-md-4">
                <img src="../CarImages/mercedes-benz-e-class 20213248573.jpeg" class="img-fluid" />
                <h3>Mercedes</h3>
                <p>E350</p>
            </div>
            <div class="col-md-4">
                <img src="../CarImages/mercedes-benz-e-class 20213248573.jpeg" class="img-fluid" />
                <h3>Mercedes</h3>
                <p>E350</p>
            </div>
        </div>
    </div>
</section>
