@page "/RentalCreate/{Id}"

@using Blazor_Car_Rental.Data.Models
@using Blazor_Car_Rental.Data.Services
@using Blazor_Car_Rental.Areas.Administrator.Services
@using Blazor_Car_Rental.Areas.Identity.Models
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject RentalServices RentalService
@inject AdmCarServices CarServices
@inject NavigationManager nav
@inject IJSRuntime JSRuntime
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<h3>RentalCreate</h3>

<form>
    <div class="row">
        <div class="col-md-8 text-white">
            <div class="form-group col-4">
                <label class="control-label">Please Choose the receipt Date</label>
                <input type="date"  class="form-control" @bind="rental.ReceiptDate" />
            </div>
            <div class="form-group col-4">
                <label class="control-label">Please Choose the return Date</label>
                <input type="date" class="form-control" @bind="rental.ReturnDate" />
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateNewRental" value="Save" />
                <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
    <p class="text-danger">@error</p>
</form>


@code {

    [Parameter]
    public string Id { get; set; }
    DateTime? today = DateTime.Today;
    public int CarId;
    Rental rental = new Rental();
    UserIdentity user = new UserIdentity();
    string username = "";
    string error = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (!authState.User.Identity.IsAuthenticated)
        {
            JSRuntime.InvokeVoidAsync("goToLogin");
            return;
        }
        CarId = (Convert.ToInt32(Id));

        username = authState.User.Identity.Name;
        //var user1 = authState.User;
        //var userid =  $"User Id: {user1.FindFirst(c => c.Type == "sub")?.Value}";

        rental.ReceiptDate = (DateTime) today;
        rental.ReturnDate = (DateTime) today;


    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await sessionStorage.SetItemAsync("name", "Veture");

    }

    async Task CreateNewRental()
    {
        var confirmation = await JSRuntime.InvokeAsync<bool>("confirm");
        if (confirmation)
        {
            rental.Paid = false;

            if (RentalService.ValidOrderDate(rental.ReceiptDate, rental.ReturnDate, today, CarId))
            {
                RentalService.CreateRental(rental, CarId, username);
                JSRuntime.InvokeVoidAsync("ActionDone");
                nav.NavigateTo("/cars");
            }
            else
            {
                error = "You choosed an invalid date or the car is rented in the date you required";
            }
        }

    }
    private void Cancel()
    {
        nav.NavigateTo("/RentCars");
    }

}
